.link,
.navbar,
li {
  text-decoration: none;
}

.confirmation-container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 23px;
}

header {
  width: 100%;
  height: 110px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border: 2px solid orange;
}

.logo img {
  width: 110px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

#nav-links {
  display: flex;
  transition: 0.7s;
  gap: 10px;
  gap: 30px;
}

li {
  padding-top: 55px;
  list-style: none;
}

.link {
  color: #eec16c;
  position: relative;
  font-size: 21px;
}

.link:hover {
  color: #fff;
}
@media screen and (max-width: 700px) {
  #nav-links {
    gap: 10px;
    margin-right: 450px;
  }

  .link {
    font-size: 18px;
  }

  .header-text {
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: #eec16c;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .logo img {
    display: none;
  }
}
