.link,
.navbar,
li {
  text-decoration: none;
}
input,
label {
  font-size: 16px;
}
#table,
button,
header,
input {
  width: 100%;
}
#nav-links,
.follow-us {
  display: flex;
  gap: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
header {
  height: 110px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border: 2px solid orange;
}
.logo img {
  width: 110px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
#nav-links {
  transition: 0.7s;
  gap: 30px;
}
li {
  padding-top: 55px;
  list-style: none;
}
.link {
  color: #eec16c;
  position: relative;
  font-size: 21px;
}
.book-btn,
.link:hover,
button {
  color: #fff;
}
#table-frame {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #f0f0f0;
  display: flex;
}
#table {
  object-fit: cover;
  height: 100%;
  border: 3px solid orange;
}
.book-btn {
  position: absolute;
  top: 420px;
  left: 50%;
  width: 180px;
  transform: translateX(-50%);
  background-color: rgba(180, 136, 54, 0.7);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}
#booking-section {
  margin: 180px auto;
  width: 80%;
  max-width: 700px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#booking-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
.form-group {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  padding: 12px;
  background-color: #d7a94b;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
button:hover {
  background-color: #b78e37;
}
.frame-footer {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid orange;
  height: 300px;
  margin-top: -10px;
}
.title-footer,
.under-title-footer,
.year {
  color: #eec16c;
}
.follow,
.info-footer {
  color: #eec16c;
  display: flex;
}
.follow-us {
  flex-direction: row;
}
@media screen and (max-width: 540px) {
  #nav-links {
    gap: 10px;
    margin-right: 7px;
  }
  .link {
    font-size: 18px;
  }
  .logo img {
    display: none;
  }
}
.header-text {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: #eec16c;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.title-footer {
  color: #eec16c;
  font-size: 20px;
}
.info-footer {
  font-size: 13px;
}
